<div
  class="framer-14zzyxs"
  data-framer-name="Header"
  style="will-change: transform; opacity: 1; transform: translateX(-50%)"
>
  <div class="framer-7jiuwh" data-framer-name="Frame 81">
    <div class="framer-19cal0m" data-framer-name="Frenzie Logo 1">
      <div
        style="
          position: absolute;
          border-radius: inherit;
          corner-shape: inherit;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        "
        data-framer-background-image-wrapper="true"
      >
        <img
          decoding="async"
          width="1080"
          height="1080"
          sizes="96px"
          srcset="
            https://framerusercontent.com/images/RWpC8ibFsRzM4qdzF1STU3p3k.png?scale-down-to=512&amp;width=1080&amp;height=1080   512w,
            https://framerusercontent.com/images/RWpC8ibFsRzM4qdzF1STU3p3k.png?scale-down-to=1024&amp;width=1080&amp;height=1080 1024w,
            https://framerusercontent.com/images/RWpC8ibFsRzM4qdzF1STU3p3k.png?width=1080&amp;height=1080                        1080w
          "
          src="https://framerusercontent.com/images/RWpC8ibFsRzM4qdzF1STU3p3k.png?width=1080&amp;height=1080"
          alt
          style="
            display: block;
            width: 100%;
            height: 100%;
            border-radius: inherit;
            corner-shape: inherit;
            object-position: center;
            object-fit: cover;
          "
        />
      </div>
    </div>
  </div>
  <div class="framer-17xaztg" data-framer-name="Frame 82">
    <div class="framer-gafi5p" data-framer-name="Navbar">
      <div class="framer-yez70h" data-framer-name="Frame 83">
        <div
          class="framer-1jhr6ai"
          data-framer-name="Products"
          data-framer-component-type="RichTextContainer"
          style="transform: none"
        >
          <p
            style="
              --font-selector: R0Y7T3BlbiBTYW5zLTcwMA==;
              --framer-font-family:
                &quot;Open Sans&quot;, &quot;Open Sans Placeholder&quot;,
                sans-serif;
              --framer-font-size: 14px;
              --framer-font-weight: 700;
              --framer-line-height: 20px;
            "
            class="framer-text"
          >
            Products
          </p>
        </div>
      </div>
      <div class="framer-1jskdah" data-framer-name="Frame 84">
        <div
          class="framer-y4v4p5"
          data-framer-name="About Us"
          data-framer-component-type="RichTextContainer"
          style="transform: none"
        >
          <p
            style="
              --font-selector: R0Y7T3BlbiBTYW5zLTcwMA==;
              --framer-font-family:
                &quot;Open Sans&quot;, &quot;Open Sans Placeholder&quot;,
                sans-serif;
              --framer-font-size: 14px;
              --framer-font-weight: 700;
              --framer-line-height: 20px;
            "
            class="framer-text"
          >
            About Us
          </p>
        </div>
      </div>
      <div class="framer-15u1nl8" data-framer-name="Frame 85">
        <div
          class="framer-6p7hpg"
          data-framer-name="Why Frozen?"
          data-framer-component-type="RichTextContainer"
          style="transform: none"
        >
          <p
            style="
              --font-selector: R0Y7T3BlbiBTYW5zLTcwMA==;
              --framer-font-family:
                &quot;Open Sans&quot;, &quot;Open Sans Placeholder&quot;,
                sans-serif;
              --framer-font-size: 14px;
              --framer-font-weight: 700;
              --framer-line-height: 20px;
            "
            class="framer-text"
          >
            Why Frozen Why?
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="framer-ylkf39" data-framer-name="Frame 6">
    <div class="framer-iwgg3m" data-framer-name="Button">
      <div
        class="framer-1n22lyj"
        data-framer-name="Contact Us"
        data-framer-component-type="RichTextContainer"
        style="transform: none"
      >
        <p
          style="
            --font-selector: R0Y7RE0gU2Fucy03MDA=;
            --framer-font-family:
              &quot;DM Sans&quot;, &quot;DM Sans Placeholder&quot;, sans-serif;
            --framer-font-weight: 700;
            --framer-line-height: 24px;
            --framer-text-alignment: center;
            --framer-text-color: rgb(255, 255, 255);
          "
          class="framer-text"
        >
          Contact Us
        </p>
      </div>
    </div>
  </div>
</div>
